<!DOCTYPE html>
<html ng-controller="myCtrl as ctrl" ng-app="typeSelector" lang="en">

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <style>
        .hide-validation-error {
            font-size: 14px;
        }

        .hide-validation-error .md-errors-spacer {
            display: none;
        }

        .mySelect md-select-menu {
            margin-top: 45px;
            font-size: 14px;
            height: 100%;
        }

        .card-panel {
            font-size: 10px;
        }

        .card-deck-container {
            width: 100%;
            max-width: 1200px;
            position: relative;
            border-radius: 2px;
            padding: 10px 10px 30px;
            margin: 10px 10px 10px 10px;
            background-color: #f5f5f5;
        }

        .card-item {
            padding: 3px 3px 3px 3px;
        }
    </style>
</head>

<body ng-app="typeSelector" layout='row' ng-cloak>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/1.1.3/hammer.min.js"></script> -->
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">    
        /**
         * You must include the dependency on 'ngMaterial' 
         */
        angular.module('typeSelector', ['ngMaterial']);


    </script>

    <div class="appClass" layout="column" tabIndex="-1" role="main" flex>
        <!-- <md-sidenav flex=20></md-sidenav> -->
        <md-toolbar class="md-medium">
            <div class="md-toolbar-tools">
                <span flex></span>
                <div layout-gt-xs="row">
                    <md-input-container class="hide-validation-error" flex>
                        <label>Slot</label>
                        <md-select ng-model="slotName" md-container-class="mySelect">
                            <md-option ng-value="">
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="slotname in ::slotnames" ng-value="slotname">
                                {{ slotname }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="hide-validation-error" flex>
                        <label>Character Name</label>
                        <input type="text" ng-model="characterName" size="40" />
                    </md-input-container>
                    <md-input-container class="hide-validation-error" flex>
                        <label>Dots</label>
                        <md-select ng-model="dot" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="dots in ::dots" ng-value="dots">
                                {{ dots }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="hide-validation-error" flex>
                        <label>Set</label>
                        <md-select ng-model="setval" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="sets in ::sets" ng-value="sets">
                                {{ sets }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="hide-validation-error" flex>
                        <label>Primary</label>
                        <md-select ng-model="primaryval" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="primarytype in ::primarytypes" ng-value="primarytype">
                                {{ primarytype }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="hide-validation-error" flex>
                        <label>Secondary</label>
                        <md-select ng-disabled="secondaryval2" ng-model="secondaryval1" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="secondarytype in ::secondarytypes" ng-value="secondarytype">
                                {{ secondarytype }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-show="secondaryval1" class="hide-validation-error" flex>
                        <label>Secondary</label>
                        <md-select ng-disabled="secondaryval3" ng-model="secondaryval2" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="secondarytype in ::secondarytypes" ng-value="secondarytype">
                                {{ secondarytype }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-show="secondaryval2" class="hide-validation-error" flex>
                        <label>Secondary</label>
                        <md-select ng-disabled="secondaryval4" ng-model="secondaryval3" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="secondarytype in ::secondarytypes" ng-value="secondarytype">
                                {{ secondarytype }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-show="secondaryval3" class="hide-validation-error" flex>
                        <label>Secondary</label>
                        <md-select ng-model="secondaryval4" md-container-class="mySelect">
                            <md-option ng-value=''>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="secondarytype in ::secondarytypes" ng-value="secondarytype">
                                {{ secondarytype }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-content flex class='md-padding'>
            <h3>{{modlist.length}} mods found</h3>

            <div class='md-padding' layout="row" layout-wrap>
                <md-card style="width: 400px;" ng-repeat="x in mods | filter:isFiltered  | orderBy:modSortFunction as modlist">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ x.dotcount }} dot {{ x.set }} {{ x.slotname }}</span>
                            <span class="md-subhead">{{ x.charname }}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{ x.primary.value }} {{x.primary.type }}
                        </p>
                        <p>
                            <div class="secondary-stats" ng-repeat="secondary in x.secondaries">
                                {{ secondary.value }} {{ secondary.type }}
                            </div>
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>

    <script>
        (function () {
            'use strict';
            var app = angular
                .module('typeSelector', ['ngMaterial']);
            app.config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                    .dark();
            });
            app.directive('mdSelect', [function () {
                "use strict";
                return {
                    restrict: 'E',
                    link: (scope, element, attrs) => {
                        element.after('<div class="md-errors-spacer"></div>');
                    }
                };
            }]);

            app.controller('myCtrl', function ($scope) {
                $scope.secondaryval1 = '';
                $scope.secondaryval2 = '';
                $scope.secondaryval3 = '';
                $scope.secondaryval4 = '';
                $scope.modSortFunction = function (mod) {
                    if ($scope.secondaryval1) {
                        return getValueForMod($scope.secondaryval1, mod);
                    }
                    return 0;
                }
                $scope.isFiltered = function (mod) {
                    var matches = true;

                    if ($scope.characterName && !mod.charname.toUpperCase().includes($scope.characterName.toUpperCase())) {
                        return false;
                    }
                    if ($scope.dot && $scope.dot != mod.dotcount) {
                        return false;
                    }
                    if ($scope.rarity && $scope.rarity != mod.rarity) {
                        return false;
                    }
                    if ($scope.slotName && $scope.slotName != mod.slotname) {
                        return false;
                    }
                    if ($scope.setval && $scope.setval != mod.set) {
                        return false;
                    }
                    if ($scope.level && $scope.level != mod.level) {
                        return false;
                    }
                    if ($scope.primaryval && $scope.primaryval != mod.primary.type) {
                        return false;
                    }

                    if ($scope.secondaryval1) {
                        var secondaryStatTypeMatches = doesSecondaryTypeMatch($scope.secondaryval1, mod.secondaries);
                        if (!secondaryStatTypeMatches) {
                            return false;
                        }
                    }
                    if ($scope.secondaryval2) {
                        var secondaryStatTypeMatches = doesSecondaryTypeMatch($scope.secondaryval2, mod.secondaries);
                        if (!secondaryStatTypeMatches) {
                            return false;
                        }
                    }
                    if ($scope.secondaryval3) {
                        var secondaryStatTypeMatches = doesSecondaryTypeMatch($scope.secondaryval3, mod.secondaries);
                        if (!secondaryStatTypeMatches) {
                            return false;
                        }
                    }
                    if ($scope.secondaryval4) {
                        var secondaryStatTypeMatches = doesSecondaryTypeMatch($scope.secondaryval4, mod.secondaries);
                        if (!secondaryStatTypeMatches) {
                            return false;
                        }
                    }

                    return matches;
                };
                $scope.slotnames = ["Transmitter", "Receiver", "Processor", "Holo-Array", "Data-Bus", "Multiplexer"];
                $scope.dots = ["I", "II", "III", "IV", "V"]
                $scope.sets = ["Health", "Defense", "Crit Damage", "Crit Chance", "Tenacity", "Offence", "Potency", "Speed"];
                $scope.primarytypes = ["Speed", "Critical Chance", "Critical Damage", "Potency", "Tenacity", "Accuracy", "Critical Avoidance", "Offense", "Defense", "Health", "Protection"];
                $scope.secondarytypes = ["Speed", "Critical Chance", "Potency", "Tenacity", "Offense", "Defense", "Health", "Protection", "Offense%", "Defense%", "Health%", "Protection%"];
                $scope.mods = MOD_JSON_SEGMENT;
            });
        })();

        function doesSecondaryTypeMatch(secondarytype, secondaries) {
            var secondaryStatTypeMatches = false;
            for (var i = 0; i < secondaries.length; i++) {
                if (secondarytype === secondaries[i].type) {
                    secondaryStatTypeMatches = true;
                }
            }
            return secondaryStatTypeMatches;
        }

        function getValueForMod(secondaryval, mod) {
            for (var i = 0; i < mod.secondaries.length; i++) {
                if (secondaryval === mod.secondaries[i].type) {
                    return -parseFloat(mod.secondaries[i].value.replace('%', '').replace('+', ''));
                }
            }
            return 0;
        }

    </script>
</body>

</html>